@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

.sidebar {
    position: fixed;
    top: 0;
    left: 0; /* hidden */
    width: 250px;
    height: 100%;
    background: #373737;
    padding: 20px;
    transition: 0.3s;
    color: white;
    z-index: 1000;
    font-family: 'Inter', sans-serif;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar a {
    text-decoration: none;
    color: white;
    display: block;
    padding: 8px 0 0;
    user-select: none;
}

#toggleBtn {
    position: absolute;
    top: 6px;
    right: 15px;
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

#toggleBtnOpen {
    position: fixed;
    top: 15px;
    left: 8px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #000000;
    padding: 10px;
    border-radius: 5px;
}

.sidebar.active {
    left: -250px;
}

.link-header {
    font-weight: bold;
    text-decoration: underline;
}

.padded-link, .padded-link a {
    padding-left: 13px;
    color: #aeaeae;
}

.toggle-icon {
    transition: transform 0.2s ease;
}

.link-section.active {
  color: rgb(255, 255, 255);
}

.link-section.active::before {
  content: "\F132   ";
  font-family: "bootstrap-icons";
  color: rgb(255, 255, 255);
}

/* bila collapse dibuka (tiada class .collapsed) → rotate icon */
a:not(.collapsed) .toggle-icon {
    transform: rotate(90deg);
}


/* Content CSS */


.content {
    margin: 80px 20px 0 20px;
    font-family: 'Inter', sans-serif;
}

.content h1, .content h2, .content h3 {
    font-weight: bold;
}

pre {
    padding: 20px;
    background-color: #cccccc;
    border-radius: 5px;
    font-family: "Fira Code", monospace;
}

.content img {
    border-radius: 10px;
    border: solid 1px;
}

.content .reference {
    color: rgb(106, 106, 106);
    font-style: italic;
}

/* Dark Mode CSS */

body.dark-mode {
    background-color: #121212;
    color: #e0e0e0;
}
body.dark-mode pre {
    background-color: #2e2e2e;
}
#toggleBtnOpen.dark-mode {
    color: #ffffff;
}

.content-image {
    width:max-content;
}

@media screen and (max-width: 800px) {
    .content-image {
        width: 100%;
    }
}

/* Site Settings */

.settings-panel {
    position: fixed;
    top: 60px;
    right: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.1);
    z-index: 1001;
    font-family: 'Inter', sans-serif;
    display: none;
}

.settings-panel.active {
    display: block;
}

.settings-panel.dark-mode {
    background-color: #2e2e2e;
    color: #e0e0e0;
    border-color: #555;
}